body {
  background-color: #141414;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
  font-weight: 900;
  color: azure;
  font-style: italic;
  text-decoration: underline;
}

.list-container {
  color: azure;
  background-color: #000820;
  width: 70vw;
  height: 50vh;
  overflow-y: auto;
  padding: 20px;
  border: 5px solid;
  border-image: linear-gradient(to right, #a10787, #8a83ee) 1;
}

.noData {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noData div {
  font-size: 3rem;
}

.noData span {
  font-size: 5rem;
}

.listItem {
  display: flex;
  height: 2.5rem;
  margin: 20px;
  border-radius: 100px;
  font-size: large;
  font-weight: bolder;
  gap: 1rem;
}

.content {
  background-color: #292929;
  width: 80%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.comboBtn {
  background-color: #000820;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
}

.editBtn {
  font-size: large;
  border-radius: 10px;
  background-color: #003cff;
  color: azure;
  box-shadow: 0 4px 8px #575757ee;
}

.editBtn:hover {
  background-color: #527aff;
}

.deleteBtn {
  font-size: large;
  border-radius: 10px;
  background-color: #003cff;
  color: azure;
  box-shadow: 0 4px 8px #575757ee;
}

.deleteBtn:hover {
  background-color: #527aff;
}

.inputArea {
  padding: 1rem;
  color: azure;
  font-size: 1rem;
  border-image: linear-gradient(to right, #a10787, #8a83ee) 1;
  border-radius: 3px;
  width: 30vw;
  background-color: #292929;
}

.inputArea:focus {
  border-image: linear-gradient(to right, #ec0ec7, #b0ade7) 1;
  outline: none;
}

.add {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #003cff;
  color: azure;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 10px;
  box-shadow: 0 4px 8px #505050ee;
}

.btn:hover {
  background-color: #527aff;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 1.7rem;
  }

  .noData div {
    font-size: 2rem;
  }

  .noData span {
    font-size: 4rem;
  }

  .listItem {
    height: 2rem;
    margin: 15px;
    font-size: small;
    font-weight: bolder;
    gap: 0.5rem;
  }
  .content {
    background-color: #292929;
    padding-left: 0.6rem;
  }

  /**/
  .comboBtn {
    background-color: #000820;
    border-radius: 10px;
    display: flex;
    gap: 0.5rem;
  }

  .editBtn {
    font-size: x-small;
  }

  .deleteBtn {
    font-size: x-small;
  }

  .inputArea {
    padding: 0.5rem;
    font-size: small;
    border-image: linear-gradient(to right, #a10787, #8a83ee) 1;
  }

  .btn {
    font-size: x-small;
    padding: 0.5rem;
  }
}
